/* You can add global styles to this file, and also import other style files */
body {
    background-color: #10002B;
}

.text-white-gl{
    color: white;
}

.text-primary-gl{
    color: #C77DFF;
    text-shadow: #C77DFF 1px 0 10px;
}
